*{
    margin: 0;
    padding: 0;
    font-family: Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ul{
  
    margin-top: 25px;
    list-style: none;

}
ul li{
   display: inline-block; 
}
ul li a{
    text-decoration: none;
    color: rgb(250, 250, 250);
    padding: 5px 20px;
    border: 1px solid black transparent;
}
ul li a:hover{
    background-color: blue;
    color: white;
    transition: 0.6s ease;
}
.selected{
    background-color: rgb(255, 208, 0);
}

.logo img{
     width: 150px;
     height: auto;
     
}

.h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }

  body{
      background-image: url(../Project/Images/images.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
  }

  .text{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
  }

  .text h1{
    color: white;
    text-transform: uppercase;
    font-size: 80px;

  }

.all{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
