*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}

body{
    height: 100vh;
    background: url(51.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.contact-info{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    position: relative;
    flex: 1;
    max-width: 400px;
    height: 200px;
    background-color:rgba(163, 161, 161, 0.377);
    margin: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    font-size: 32px;
    color: #ea8685;
    transition: opacity .5s linear;
}

.card:hover .icon{
    transform: scale(4);
    opacity: 0;
}
.card-content{
  display: none;
  padding:10px;
    
    
}
.card:hover .card-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

  
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
